Django==5.2.15
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-decouple==3.8
whitenoise==6.12.0
Pillow==12.2.0
